<uef-typography variant="heading2"
    sx='{"marginBottom":"1em"}'>
    Benefits of UEF 3.0
</uef-typography>

<uef-grid grid-template-columns="repeat(auto-fill, minmax(25em,1fr))"
    gap="2rem">

    <uef-card
        sx='{"padding":"--uef-space-inset-4x","boxShadow":"--uef-elevation-20","borderRadius":"--uef-border-radius-softest"}'>
        <uef-typography variant="heading3"
            sx='{"paddingBottom":"--uef-space-stack-2x"}'>
            Standards
        </uef-typography>
        <uef-typography variant="body"
            tag="div"
            sx='{"lineHeight":"1.5" }'>
            <ul>
                <li>Standardized interactions with User Interface elements</li>
                <li>Usability-tested patterns</li>
                <li>Baked-in accessibility (508 / WCAG 2.0), reviewed by ASB</li>
                <li>Built in responsiveness to different screen sizes</li>
                <li>Ensures consistent SSA branding and look and feel</li>
                <li>Global styles</li>
                <li>Reusable patterns</li>
            </ul>
        </uef-typography>
    </uef-card>

    <uef-card
        sx='{"padding":"--uef-space-inset-4x","boxShadow":"--uef-elevation-20","borderRadius":"--uef-border-radius-softest"}'>
        <uef-typography variant="heading3"
            sx='{"paddingBottom":"--uef-space-stack-2x"}'>
            Compatibility
        </uef-typography>
        <uef-typography variant="body"
            tag="div"
            sx='{"lineHeight":"1.5" }'>
            <ul>
                <li>Comprised of standards-based web components that run natively in the browser.</li>
                <li>Framework-agnostic: work in most frameworks and web applications.</li>
                <li>Provides stability by avoiding framework churn.</li>
                <li>Supports modern browsers by compiling code down to ES5 and dynamically loading polyfills when
                    needed.
                </li>
            </ul>
        </uef-typography>
    </uef-card>

    <uef-card
        sx='{"padding":"--uef-space-inset-4x","boxShadow":"--uef-elevation-20","borderRadius":"--uef-border-radius-softest"}'>
        <uef-typography variant="heading3"
            sx='{"paddingBottom":"--uef-space-stack-2x"}'>
            Performance
        </uef-typography>
        <uef-typography variant="body"
            tag="div"
            sx='{"lineHeight":"1.5" }'>
            <ul>
                <li>Lazy Loading: By default, components load asynchronously and can be bundled with related components.
                </li>
                <li>Virtual DOM: fast DOM updates without common DOM performance pitfalls.</li>
                <li>Reactivity: Efficient updates based on property and state changes.</li>
                <li>High-performance Rendering: asynchronous rendering system, similar to React Fiber. (i.e., cutting
                    edge
                    and fast)</li>
            </ul>
        </uef-typography>
    </uef-card>

    <uef-card
        sx='{"padding":"--uef-space-inset-4x","boxShadow":"--uef-elevation-20","borderRadius":"--uef-border-radius-softest"}'
    >
        <uef-typography variant="heading3"
            sx='{"paddingBottom":"--uef-space-stack-2x"}'>
            Integration
        </uef-typography>
        <uef-typography variant="body"
            tag="div"
            sx='{"lineHeight":"1.5" }'>
            <ul>
                <li>UEF 3 is made to work with other frameworks, providing:</li>
                <li>Event emitters</li>
                <li>Two-way data-binding, reactivity*</li>
            </ul>
        </uef-typography>
    </uef-card>

    <uef-card
        sx='{"padding":"--uef-space-inset-4x","boxShadow":"--uef-elevation-20","borderRadius":"--uef-border-radius-softest"}'>
        <uef-typography variant="heading3"
            sx='{"paddingBottom":"--uef-space-stack-2x"}'>
            Flexibility
        </uef-typography>
        <uef-typography variant="body"
            tag="div"
            sx='{"lineHeight":"1.5" }'>
        <ul>
            <li>Building patterns with building block components results is fewer components and properties to remember, and consistent APIs across similar components.</li>
            <li>UEF 3.0 components are less opinionated, giving the developer more control.</li>
            <li>UEF 3.0 implements the Flexbox and CSS Grid APIs, allowing for far greater power and flexibility in layout.</li>
        </ul>
        </uef-typography>
    </uef-card>

</uef-grid>
