<uef-flex>
    <uef-flex-item>
        <img src="../../../assets/images/404.jpg" />
    </uef-flex-item>
    <uef-flex-item>
        <uef-flex direction="column" gap="25px">
            <uef-typography variant="heading1"
                tag="h2">
                Awww.... Don't Cry
            </uef-typography>
            <uef-typography variant="heading2"
                tag="h5">
                It's just a 404 error!
            </uef-typography>
        </uef-flex>
    </uef-flex-item>
</uef-flex>
